<!DOCTYPE html>
<html>
<head>
	<title>Tetris</title>
	<style>
		html, body {margin: 0; height: 100%; overflow: hidden}
		body{
			/* background: #202020; */
			color: #fff;
			font-family: sans-serif;
			font-size: 2en;
			text-align: center;
			padding-bottom: 5.5%;
		}
		canvas{
			/* border: solid .2em red; */
			height: 70vh;
		}
	</style>
</head>
<body id="body">
	<h1 id="header">TETRIS</h1>
	<div id="score" ></div>
	<canvas id="tetris" width="240" height="400"></canvas>
	<script src="../static/tetris.js"></script>

</body>
</html>
